 .biz{
    border: 5px solid black;
    width: 800px;
    height: 400px;
    padding: 15px;
 }
 h1{
 color: blue;
 text-align: center;
 }
table{
    width: 100%;
    border-collapse: collapse;
} 
th, td{
    border: 2px solid black;
    text-align: center;
}
 th{
    background-color: rgb(86, 129, 239);
    color: rgb(0, 0, 0);
 }
 
 .semya{
    width: 300px;
    height: 100px;
    border: 2px solid red;
    padding: 20px;
    background-color: gold;
 }

 @media(max-width: 450px) {
   .biz{
      width: 100%;
      min-height: 600px ;
      background-color: chartreuse;
   }
 }
 